.venv
*.ipynb

__pycache__


.idea

bin/LKH
*.tsp
*.par
*.npy
*.tar.gz
*.tgz

data

outputs/orthant1.tour
outputs/orthant2.tour
outputs/orthant3.tour
outputs/orthant4.tour

bin/vertex.sh
vertex*.yaml
